:local(.style) {
    text-align: center;
    h2 {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 30px;
        color: #666;
    }
    p {
        font-size: 16px;
        color: #999;
    }
}